@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  color: #000;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.T-head-border {
  padding: 4px;
  color: #00B3FF;
  border: solid 1px black;
}
.T-body-border {
  
  padding: 4px;
  /* font-weight: bold; */
  font-size: 0.85rem;
  border: solid 1px black;
}
.btn-style {
  padding: 2px 7px;
  margin: 0 3px;
  border: solid 1px black;
}
